{{/partial}}
{{#partial "title"}}
home page!

{{#partial "content"}}

    <h2> <a class="btn" href="/hero-form" >Create Your Hero</a> <br><br> CURRENT HEROES</h2>
    <div class="heroes">

        <div class="hero-item">
            <p>Name: {{ name }} </p>
            <p>Age: {{ age }}</p>
            <p>Special power: {{ power }}</p>
            <p>Weakness: {{ weakness }}</p>
            <p>Id: {{ id }}</p>
            <a href="new/{{id}}" class="btn">Learn More</a>
            <a href="/squad" class="btn">Add {{ name }} To Squad</a>
        </div>


    </div>


{{/partial}}

{{> layout.hbs.html}}